/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.main-quote {
	//@include desktop {
	// display: flex;
	// flex-wrap: nowrap;
	// flex-direction: row;
	// justify-content: center;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		color: green;
		font-family: 'FontAwesome';
		font-size: 125px;
	}

	&::before {
		content: '\f10d';
		left: -175px;
	}

	&::after {
		content: '\f10e';
		right: -175px;
	}

	//}
}

body {
	background-color: $color__background-body;
}

#page {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding: 2.5%;
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.blog,
.single,
.archive {
	.entry-content {
		p {
			font-size: 1.25rem;

			@include tablet {
				font-size: 1.75rem;
			}

			@include desktop {
				font-size: 2.5rem;
			}
		}
	}
}

/* Archives and Search */