/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-main {
	position: relative;

	i {
		display: none;
	}

	@include desktop {

		&::before,
		&::after {
			position: absolute;
			display: inline-block;
			color: $color__quotes;
			font-family: 'FontAwesome';
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			font-size: 125px;
			font-weight: 400;
		}

		&::before {
			content: '\f10d';
			left: -175px;
			line-height: 1;
		}

		&::after {
			content: '\f10e';
			right: -175px;
			line-height: 1;
			top: 0px;
		}
	}
}


body {
	background-color: $color__background-body;
}

#page {
	max-width: 1080px;
	width: 90%;
	margin: 0 auto;
	padding: 2.5%;


	@include tablet {
		width: 80%
	}

	@include desktop {
		width: 60%;
	}
}

article {
	margin: 40px;
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
	padding: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.blog,
.single,
.archive {
	.entry-content {
		p {
			font-size: 1.25rem;

			@include tablet {
				font-size: 1.75rem;
			}

			@include desktop {
				font-size: 2.5rem;
			}
		}
	}

	.entry-title {
		font-size: 1.25rem;
		display: inline;
	}

	.source {
		font-style: italic;
		font-size: 1.25rem;

	}
}

/* Archives and Search */

.post-archives,
.category-archives,
.tag-archives {
	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;

		li {
			margin-bottom: $base__space-unit / 2;
			margin-right: $base__space-unit * .5;
			font-size: 1rem;

			@include tablet {
				font-size: 1.25rem;
			}
		}
	}
}