/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #222;
	border: 2px solid #0c0;
	border-radius: 3px;
	color: #0c0;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	padding: .75rem 2.25rem;

	&:hover {
		border-color: #090;
		color: #090;
	}

	&:active,
	&:focus {
		border-color: #0c0;
		color: #090;

	}

	@include tablet {
		font-size: 1.25rem;
	}
}

/* Show Me Another Quote Button */

// .new-quote-btn {

// 	@include desktop {
// 		margin: 0 auto;
// 	}
// }


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: white;
	border: 1px solid #090;
	background-color: #222222;
	border-radius: 3px;

	&:focus {
		color: white;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[typ="button"],
	{
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	padding-left: 3px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#submit-button {
	margin-top: 20px;
}