/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #222;
	border: 2px solid $color__brand-color;
	border-radius: 3px;
	color: $color__brand-color;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	padding: .75rem 2.25rem;
	margin-top: $base__space-unit * 1;


	&:active,
	&:hover,
	&:focus {
		border-color: $color__link-hover;
		color: $color__link-hover;
		outline: none;

	}

	@include desktop {
		margin: 0 auto;
		text-align: center;
		display: flex;
		align-items: center;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: white;
	border: 2px solid $color__brand-color;
	background-color: #222222;
	border-radius: 3px;

	&:focus {
		color: white;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="button"],
	{
	width: 60%;
	padding: .25rem .5rem;

	@include desktop {
		width: 40%;
	}
}

textarea {
	padding-left: 3px;
	width: 100%;
}

#submit-button {
	margin-top: 20px;
}

//Labels//

label {
	margin-bottom: $base__space-unit / 2;
}