/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.hero-image {
  padding-bottom: $base__space-unit * 1;

  img {
    display: block;
    width: 300px;
    height: 100%;

    @include tablet {
      width: 500px;
    }

    @include desktop {
      margin: 0 auto;
      width: 700px;
    }
  }
}

.site-header {
  margin-top: ($base__space-unit * 2);
}


.qod-quotes {
  margin-top: ($base__space-unit * 2);

}