/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All */

.archive {

  .main-quote {
    border-bottom: $border__dashed;
  }

  .page-title {
    border-bottom: $border__dashed;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
  }
}

.search {
  page-title {
    border-bottom: $border__dashed;
  }
}

#author {
  padding: 20px;
  padding-left: 0;
  font-size: 1rem;

  @include tablet {
    font-size: 1.25rem;
  }
}

.source {
  font-size: 1.25rem;
}

/* Submit a Quote Page */

/* Footer */

.site-footer {
  padding: 20px 0;

  @include desktop {
    padding: 0 20px 0 0;
  }
}


/* 404 Page */

.error-404 {
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  .search-button {
    padding-left: .75rem;
    padding-right: .75rem;
    border: none;
    display: unset;

    .search-field {

      &:active,
      &:focus {
        outline: none;
      }
    }

    i {
      display: inline;
      margin: 0;
    }
  }
}

.search {
  .page-title {
    border-bottom: $border__dashed;
  }
}