/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

.archive {

  .main-quote {
    border-bottom: $border__dashed;
  }

  .page-title {
    border-bottom: $border__dashed;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
  }
}

#author {
  padding: 20px;
}

/* Submit a Quote Page */

/* Footer */

.site-footer {
  padding: 20px 0;

  @include desktop {
    padding: 0 20px 0 0;
  }
}